<h4>Wlcome to your Homepage, <%= @user.username %></h4>




<form class="game-button" method="post" action="/users/<%= @user.id %>/game">
  <input class="play" type="submit" value="PLAY GAME!">
</form>

<div class="show-leaderboards"> 
  <table>
    <caption>Level 1 LEADER BOARD</caption>
    <tr>
      <th>Time of Death</th>
    </tr>
    <% @level_1.each do |stat| %>
    <tr>
     <td><%= stat.time %></td>
    </tr>
      <% end %>
        <tr>
     <td>some time</td>
    </tr>
    <tr>
     <td>some other time</td>
    </tr>
  </table>


  <table>
      <caption>Level 1 LEADER BOARD</caption>
    <tr>
      <th>Time of Death</th>
    </tr>
    <% @level_2.each do |stat| %>
    <tr>
     <td><%= stat.time %></td>
    </tr>
      <% end %>
    <tr>
     <td>some time</td>
    </tr>
    <tr>
     <td>some other time</td>
    </tr>
  </table>
</div>

<div class="">
  <form action="/users/<%= @user.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="DELETE ACCOUNT">
  </form>
</div>

