<% if @message %>
 <%= @message %>
<% end %>

<% if session[:id].nil? %>
  <form action="/users/login" method="post">
    <input type="text" placeholder="Enter User Name" name="username">
    <input type="text" placeholder="Enter Password" name="password">
    <input type="submit" value="login">

    <a href="/users/new">Sign Up</a>
  </form>
<% else %>

<a href="/users/logout">Logout</a>

<% end %>

<table>
  <tr>
    <th>Level 1 LEADER BOARD</th>
  </tr>
  <tr>
    <th>User Name</th>

    <th>Lifetime</th>
  </tr>

  <% @level_1.each do |stat| %>
  <tr>
    <td><%= stat.user.username %> </td>

   <td><%= stat.time %></td>
  </tr>
    <% end %>

</table>


<table>
  <tr>
    <th>Level 2 LEADER BOARD</th>
  </tr>
  <tr>
    <th>User Name</th>

    <th>Lifetime</th>
  </tr>

  <% @level_2.each do |stat| %>
  <tr>
    <td><%= stat.user.username %> </td>

   <td><%= stat.time %></td>
  </tr>
    <% end %>

</table>